<div id="code" class="container-fluid">

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">The Challenge</h3>
		</div>
		<div class="panel-body">
			The question will be displayed here...!
		</div>
	</div>
	
	
		<div id="userList"></div>	
		<div id="firepad-container"></div>

	<div class="panel panel-default" id ="mConsole">
	<div class="panel-heading">
		<h3 class="panel-title" >Console</h3>
			</div>
			<div class="panel-body" id="consoleOutput">
			
			</div>
			</div>
{{!-- 			<button id="exeBtn" class="btn btn-primary">Execute</button>
 --}}		

  <style>
    html { height: 100%; }

    .firepad-userlist {
      position: absolute; left: 20px; top: 25%; bottom: 0; height: 50%;
      width: 175px;
    }
    .firepad {
      position: absolute; left: 175px; top: 25%; bottom: 0; right:20px;height: 50%;
    }

    #mConsole{
    	position: absolute; left: 20px; top: 80%; bottom: 0; right:20px;height: 50%;}
   /* #exeBtn{
    position: relative; left: 20px; top: 72%; bottom: 20%; right:20px;height: 50;

    }*/
    }
  </style>


	<script src="/js/code.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/src-min/ace.js" type="text/javascript" charset="utf-8"></script>
	
	  <script>
	    window.onload = function() {
            var roomRef = new Firebase('https://flickering-fire-9251.firebaseio.com/rooms/');

	      //// Initialize Firebase.
			var firepadRef = getExampleRef();
			// TODO: Replace above line with:
			// var ref = new Firebase('<YOUR FIREBASE URL>');

			//// Create ACE
			var editor = ace.edit("firepad-container");
			editor.setTheme("ace/theme/twilight");
			var session = editor.getSession();
			session.setUseWrapMode(true);
			session.setUseWorker(false);
			session.setMode("ace/mode/javascript");

			console.log(session);
            $.ajax({
                type: 'GET',
                url: '/username',
                success: function(data) {
                    console.log(data);
                    var userId = Math.floor(Math.random() * 9999999999).toString();
                    var firepadUserList = FirepadUserList.fromDiv(firepadRef.child('users'),
                            document.getElementById('userList'), userId, data);

                    //// Create Firepad.
                    var firepad = Firepad.fromACE(firepadRef, editor);

                    //// Initialize contents.
                    firepad.on('ready', function() {
                        if (firepad.isHistoryEmpty()) {
                            firepad.setText('// JavaScript Editing with Firepad!\nfunction go() {\n  var message = "Hello, world.";\n  console.log(message);\n}');
                        }
                    });
                }
            });
	    };


	  </script>
</div>