<div id="code" class="container-fluid">

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">The Challenge</h3>
		</div>
		<div class="panel-body" id="qDesc">
			The question will be displayed here...!
		</div>
	</div>
	
	
		<div id="userList"></div>	
		<div id="firepad-container"></div>

	<div class="panel panel-default" id ="mConsole">
		<div class="panel-heading">
			<h3 class="panel-title" >Console</h3>
			<span id="watchdisplay">00:00:00</span>
		</div>
		<div class="panel-body" id="consoleOutput">	
		</div>
	</div>
{{!-- 			<button id="exeBtn" class="btn btn-primary">Execute</button>
 --}}		

  <style>
    html { height: 100%; }

    .firepad-userlist {
      position: absolute; left: 20px; top: 25%; bottom: 0; height: 50%;
      width: 175px;
    }
    .firepad {
      position: absolute; left: 175px; top: 25%; bottom: 0; right:20px;height: 50%;
    }

    #mConsole{
    	position: absolute; left: 20px; top: 80%; bottom: 0; right:20px;height: 50%;}
   /* #exeBtn{
    position: relative; left: 20px; top: 72%; bottom: 20%; right:20px;height: 50;

    }*/
    }
  </style>


	<script src="/js/src-min/ace.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/stopwatch.js" type="text/javascript" charset="utf-8"></script>
	  <script>
    	
	    window.onload = function() {

	      //// Initialize Firebase.
			var firepadRef = getExampleRef();
            var hash = firepadRef.name();
			// TODO: Replace above line with:
			// var ref = new Firebase('<YOUR FIREBASE URL>');

			//// Create ACE
			var editor = ace.edit("firepad-container");
			editor.setTheme("ace/theme/twilight");
			var session = editor.getSession();
			session.setUseWrapMode(true);
			session.setUseWorker(false);
			session.setMode("ace/mode/javascript");		
			

			console.log(session);
            $.ajax({
                type: 'GET',
                url: '/username',
                data: {hash: hash},
                success: function(data) {
                    console.log(data);
                    var userId = Math.floor(Math.random() * 9999999999).toString();
                    var firepadUserList = FirepadUserList.fromDiv(firepadRef.child('users'),
                            document.getElementById('userList'), userId, data);

                    //// Create Firepad.
                    var firepad = Firepad.fromACE(firepadRef, editor);

                    //// Initialize contents.
                    firepad.on('ready', function() {
                        if (firepad.isHistoryEmpty()) {              
                            firepad.setText();
                        }
                    });
                }
            });

			console.log("fuck2");
	    };


	  </script>

	  <div class="modal fade">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title">Match Complete</h4>
		      </div>
		      <div class="modal-body">
		        <p>You Win!</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-primary">Home</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
</div>