<div id="code" class="container">

	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">The Challenge</h3>
		</div>
		<div class="panel-body">
			The question will be displayed here...!
		</div>
	</div>

	<div class="col-sm-8">
	    <pre id="editor">
function fib(n){}
fib(5);
		</pre>
	</div>
	<div class="col-sm-4" style="padding-right: 0;">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Console</h3>
			</div>
			<div class="panel-body" id="consoleOutput">

			</div>
		</div>
		<button id="exeBtn" class="btn btn-primary">Execute</button>
	</div>

	    
	<script src="/js/src-min/ace.js" type="text/javascript" charset="utf-8"></script>
	<script src="/js/code.js" type="text/javascript" charset="utf-8"></script>
	<script>
	    var editor = ace.edit("editor");
	    editor.setTheme("ace/theme/twilight");
	    editor.getSession().setMode("ace/mode/javascript");
	</script>
</div>