<div id="code" class="container">

  <!--
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">The Challenge</h3>
    </div>
    <div class="panel-body">
      The question will be displayed here...!
    </div>
  </div>
  -->

  <div id="userList"></div>
  <div id="firepad"></div>

  <!--
  <div class="col-sm-8">
	    <pre id="editor">function foo(items) {
		    var i;
		    for (i = 0; i &lt; items.length; i++) {
		        alert("Ace Rocks " + items[i]);
		    }
		}
		</pre>
  </div>
  <div class="col-sm-4" style="padding-right: 0;">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Console</h3>
      </div>
      <div class="panel-body" id="consoleOutput">

      </div>
    </div>
    <button id="exeBtn" class="btn btn-primary">Execute</button>
  </div>
  -->

  <script>
    var editor = ace.edit("firepad");
    editor.setTheme("ace/theme/twilight");
    var session = editor.getSession();
    session.setMode("ace/mode/javascript");
    session.setUseWrapMode(true);
    session.setUseWorker(false);

    var myRootRef = getExampleRef();
    var userId = Math.floor(Math.random() * 9999999999).toString();
    var firepad = Firepad.fromACE(myRootRef, editor);
    var firepadUserList = FirepadUserList.fromDiv(myRootRef.child('users'),
        document.getElementById('userList'), userId);
    editor.on('ready', function() {
      if (firepad.isHistoryEmpty()) {
        firepad.setText('function foo(items) {var i;for (i = 0; i &lt; items.length; i++) {alert("Ace Rocks " + items[i]);}}');
      }
    });
  </script>
</div>