<div id="home" class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-primary center" style="max-width: 800px;">
            	<div class="panel-heading">
            	Choose your fate!
            	</div>
            	<div class="panel-body">
            		<div class="row" style="background:url('img/maths-ftr.jpg'); background-size: 100% 100%; padding-bottom: 200;">
            			<a class="btn btn-warning btn-lg pull-right" href="math">Math<span class="glyphicon glyphicon-arrow-right"></span></a>
            		</div>
                    <h4 class="center">/--- OR ---/</h4>
            		<div class="row" style="background:url('img/code_home.png'); background-size: 100% 100%; padding-bottom: 200;">
            			<a class="btn btn-info btn-lg pull-right" href="code">Code<span class="glyphicon glyphicon-arrow-right"></span></a>
            		</div>
            	</div>
            </div>
        </div>

        <script>

        </script>

        <div class="col-sm-4">
                    <div class="panel panel-primary center">
                <div class="panel-heading">
                Current Rooms
                </div>
                <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Race</th>
                    </tr>
                </thead>
                <tbody id="races">
                </tbody>
            </table>
            </div>
            </div>
        </div>
    </div>
</div>