<div id="home" class="container">
    <div class="panel panel-primary center">
    	<div class="panel-heading">
    	Choose your fate!
    	</div>
    	<div class="panel-body">
    		<div class="row">
    			<button type="button" class="btn btn-warning btn-lg">Math</button>
    		</div>
    		<div class="row" style="background:url('img/code_home.png'); background-size: 100% 100%; padding-bottom: 200;">
    			<button type="img" class="btn btn-info btn-lg pull-right">Code</button>
    		</div>
    	</div>
    </div>
</div>