<div id="math" class="container-fluid">
	<h4>
		Your Progress:
	</h4>	
    <div class="progress">
		<div id="you_progress" class="progress-bar" role="progressbar"aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
		60%
		</div>
	</div>
	<h4>
		Opponent's Progress:
	</h4>
    <div class="progress">
		<div id="opp_progress" class="progress-bar progress-bar-danger" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
		40%
		</div>
	</div>
    <h1 class="quizName"></h1>
    <div class="quizArea">
        <div class="quizHeader">
            <a class="startQuiz" href="">Get Started!</a>
        </div>
    </div>
    <div class="quizResults">
        <h3 class="quizScore">You Scored: <span></span></h3>
        <h3 class="quizLevel"><strong>Ranking:</strong> <span></span></h3>
        <div class="quizResultsCopy"></div>
    </div>
</div>